@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  box-sizing: border-box;
}

*,
::after,
::before {
  box-sizing: inherit;
}

body {
  background: #f0eaf8;
  padding: 0px;
  font-family: "Inter";
}


