@import "tailwindcss";
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css" layer(utilities);

@theme {
   --color-primary: #000853;
   --color-main:#CBB6E5;
   --color-focus: #761BE4;
   --color-active: #FAF9FA;
   --color-buttonHover: #6A19CD;
   --color-textColor: #fff;
   --color-textGrey: #898DA9;
   --color-error:#ED4545;
   --color-invalid: #FEECEC;
}

body {
  background: #F0EAF8;
  padding: 0px;
  font-family: "Inter", serif;
}


